@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GLOBAL */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background-color: #ffffff;
  color: #111;
}

/* 
.about-main-container{
   max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
} */

/* ---------- WHO AM I ---------- */
.about-whoIAm {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  /* max-width: 1080px; */
  /* margin-bottom: 2rem; */
  border-radius: 15px;
  /* width: 100%; */
  /* padding: 1rem; */

}

.about-text-div {
  padding: 1.2rem;
  /* text-align: center; */
  margin-top: 6rem;
}

.main-div-font-style {
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
  color: rgb(19, 17, 129);
}

.about-text-div h3 {
  font-size: 0.95rem;
  font-weight: 400;
  /* width: 100%; */
  color: #333;
}

/* ---------- EDUCATION & SKILLS ---------- */
.more-about-me {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;

}

/* EDUCATION */
.education-div {
  /* box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); */
  /* padding: 1.2rem; */
  width: 100%;
  border-radius: 10px;
}
.education-text-dev{
  padding: 1.2rem;
}

.education-ul {
  list-style: none;
  margin-top: 0.8rem;
}

.education-ul li {
  font-size: 0.9rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #e0e0e0;
}
.skills-ul li:hover{
  transform: translate(0);
}

/* SKILLS */
.my-skills {
  /* background: #f7f7f7; */
  padding: 1.2rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  margin-top: 3rem;
}

.skills-ul {
  list-style: none;
  margin-top: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem;
}

.skills-ul li {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.skills-ul i {
  font-size: 1.1rem;
}
.hero-h3{
  /* margin-top: 4rem; */
  height: 10rem;

}

  .about-whoIAm,
  .more-about-me,
  .education-div,
  .my-skills {
    width: 95%;
    margin: 1rem auto;
  }



@media(max-width: 312px ){
  .about-text-div{
    /* width: 100vw; */
    width: auto;
  }
  .main-div-font-style{
    font-size: 1rem;
    text-align: left;
    /* padding: 0.5rem; */
  }
  .about-text-div h3{
    font-size: 0.6rem;
    width: 100vw;
  }

}
