.hero-section{
  display: flex;
  justify-content:space-around;
  margin-top: 5rem;
  width: 100%;
  /* height: 91vh; */
  margin-top: 5rem;

  /* height: auto; */
  /* border: 2px solid red; */
  z-index: 2;
  font-size: 2rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  /* transition: 2s ease; */
  /* transform: translateY(15px); */
  gap: 2rem;
  padding-top:3rem;
  flex-wrap: wrap;
}
.main-div-font-style{
  font-family: 'ejaaz-custom-font' , sans-serif;
}
main:hover{
  cursor: default;
}
.text-div{
  flex: 0.8;
  height: 100%;
} 
.img-hero > img{
  width: 17rem;
  border-radius: 15px;
}
h3 .hero-spn{
  font-weight: 700;
  color: rgb(19, 17, 129);
}
.hero-para{
  font-size: 1.3rem;
  font-family:'poppins'; 
  font-weight: 400;
}
.hero-lets{
 color: rgb(19, 17, 129);
 font-weight: 900;
 font-size: 2rem;
}
.btn-hero{
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-top: 1rem;
  background-color:rgb(19, 17, 129) ;
  font-family: 'ejaaz-custom-font';
  color: #fff;
  font-size: 1.5rem;
}
.btn-hero:hover{
  border: 1px solid rgb(19, 17, 129);
  cursor:url('../../public/icons/HANDS\ CURSOR\ 2.cur'), default;
  color:#a1a1a1;
  padding: 0.3rem;
}

.html{
  font-weight: 400;
  border-bottom-width: 0.3rem;
}
.css{
  font-weight: 400;
}
.js{
  font-weight: 400; 
}