@font-face {
  font-family:'ejaaz-custom-font';
  src: url('../../public/font/pacifico/Pacifico.ttf'), format('TTF');
}
.h1{
  font-family: 'ejaaz-custom-font';
}
.main-container{
  width: 100%;
  /* padding: 1.3rem; */
}

.hero-section{

  display: flex;
  justify-content:space-around;
  /* margin-top: 9rem; */
  width: 100%;
  /* height: 91vh; */
  margin-top: 5rem;

  /* height: auto; */
  /* border: 2px solid red; */
  z-index: 2;
  font-size: 2rem;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  /* transition: 2s ease; */
  /* transform: translateY(15px); */
  gap: 2rem;
  padding-top:3rem;
  flex-wrap: wrap;
  border-radius: 1.2rem;
}
.main-div-font-style{
  font-family: 'ejaaz-custom-font' , sans-serif;
}
main:hover{
  cursor: default;
}
.text-div{
  flex: 0.8;
  height: 100%;
} 
.img-hero > img{
  width: 17rem;
  border-radius: 15px;
}
h3 .hero-spn{
  font-weight: 700;
  color: rgb(19, 17, 129);
}
.hero-para{
  font-size: 1.3rem;
  font-family:'poppins'; 
  font-weight: 400;
}
.hero-lets{
 color: rgb(19, 17, 129);
 font-weight: 900;
 font-size: 2rem;
}
.btn-hero{
  padding: 0.3rem;
  border: 1px solid transparent;
  border-radius: 30px;
  margin-top: 1rem;
  background-color:rgb(19, 17, 129) ;
  font-family: 'ejaaz-custom-font';
  color: #fff;
  font-size: 1.5rem;
}
.btn-hero:hover{
  border: 1px solid rgb(19, 17, 129);
  cursor:url('../../public/icons/HANDS\ CURSOR\ 2.cur'), default;
  color:#a1a1a1;
  padding: 0.3rem;
}

.html{
  font-weight: 400;
  border-bottom-width: 0.3rem;
}
.css{
  font-weight: 400;
}
.js{
  font-weight: 400; 
}

/* 320px — most small Android phones */
@media (max-width: 314px) {
    .hero-section{
    position: relative;
    padding-top: 1.2rem;
    justify-content: flex-start;
    padding-left:1rem ;
    width:100% ;
    position: relative;
  }
  
  .h1{
    font-size: 1rem;
  }
  .h3{
    font-size: 1rem;
    margin-top: 0;
  }
  .hero-para{
    font-size: 0.8rem;
    text-align: left;
    margin-top: 0.3rem;
  }
  .hero-lets{
    font-size: 1.3rem;
  }
  .btn-hero{
    font-size: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  .img-hero{
    display: none !important;
  }
}

/* 320px — very small phones */
@media (max-width: 480px) {
  /* .main-container{
    width: 100%;
  } */
  .hero-section{
    /* display: flex; */
    padding-top: 1.2rem;
    justify-content: flex-start;
    padding-left:1rem ;
    width: 98vw;
    /* width: 25.5rem; */
    position: relative;
  }
  
  .h1{
    font-size: 1rem;
  }
  .h3{
    font-size: 1rem;
    margin-top: 0;
  }
  .hero-para{
    font-size: 0.8rem;
    text-align: left;
    margin-top: 0.3rem;
  }
  .hero-lets{
    font-size: 1.3rem;
  }
  .btn-hero{
    font-size: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
  }
  .img-hero{
    display: none !important;
  }
}




/* 390px — iPhone 12/13/14 */
@media (max-width: 390px) {}

/* 414px — large phones */
@media (max-width: 414px) {}
