@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family:'ejaaz-custom-font';
  src: url('../../public/font/pacifico/Pacifico.ttf'), format('TTF');
}
a{
  /* color: green; */
  font-family:'ejaaz-custom-font';
}
.nav {
  position:fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  backdrop-filter: blur(5px); 
  border: 2px solid transparent;
  border-radius: 50px;
  height: 70px;
  width: 90%;
  padding: 0 2rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  margin-top: 0.5rem;
}
.nav, a:hover{
   cursor: url('../../public/icons/HANDS\ CURSOR\ 2.cur') , pointer;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  
}
a{
  height: 30px;
  color: #000; 
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  transition: color 0.3s ease-in-out;
  border-bottom: 1.5px solid rgb(19, 17, 129);
}
a:hover {
  padding-bottom: 0.2rem;
  transform:  translateY(-7px);
  color:rgb(19, 17, 129);
  border-bottom: 1px solid rgb(19, 17, 129);
  border-bottom-width: 0.1rem;
}
li{
  list-style: none;
}
li:hover {
   transform:  translateY(-7px);
  color:rgb(19, 17, 129);  
}
.logo {
  width: 170px;
  color: #2DD4BF; 
  font-weight: bold;
}
.nav .logo:hover{
  cursor: default;
}








@media (max-width: 768px) {
  .nav{
    flex-direction: column;
    width: 90%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 1rem;
    height: 2.8rem;
  }
  .logo{
    display: none;
  }
  ul li > a{
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 700;
    border-bottom: none ;

  }
}

@media(max-width:414px){
  ul{
    gap: 20px;
  }
  ul >  li a{
    font-size: 0.8rem;
    /* letter-spacing: 0px; */
  }
}
/* 
@media(max-width:314){
  ul{
    gap: 10px;
  }
  .nav ul > a{
    font-size: 10px;
    background-color: red;
  }
} */


@media(min-width: 768px){
  .logo{
    width: 8rem;
    height: 2rem;
  }
   ul{
    gap:30px;

   }
   ul > li a {
    font-weight: 900;
    font-size: 1rem;
   }
}

@media(min-width:1024px){
  ul  > li  a {
    font-weight: 900;
    font-size: 1.3rem;
   }
   .logo{
    font-size:2rem;
    font-weight: bolder;
    /* width: 17rem; */
   }
}
