@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'ejaaz-custom-font';
  src: url('../public/font/pacifico/Pacifico.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body{
  width: 90%;
  height: 100%;
  height: auto;
  margin: 0 auto;
}